.header {
  padding: 10px 20px;
  position: fixed; 
  top: 0; 
  left: 0;
  right: 0;
  z-index: 1000; 
  background-color:transparent ;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 20%;
  margin-top: -30px;
  margin-bottom: -30px;

}

.menu a {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 30px;
    width: 150px; 
    padding: 10px 15px; 
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    margin-left: 20px;
    font-size: 22px;
    text-align: center; 

.menu a:hover {
  text-decoration: underline;
}

/* Adiciona um padding superior ao conteúdo abaixo do header */
body {
  padding-top: 70px; /* Ajuste de acordo com a altura do header */
}
